.block {
    display: block;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.block__title {
    font-size: 28px;
    text-align: center;
    color: white;
    line-height: 45px;
    
    /* 모바일 스타일 */
    @media only screen and (max-width: 767px) {
        font-size: 20px;
    }
}

.block__img_container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    margin-top: 40px;
    justify-content: center;


    /* 모바일 스타일 */
    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }
}